// Copyright (c) 2018 Tildes contributors <code@tildes.net>
// SPDX-License-Identifier: AGPL-3.0-or-later

// sets up links specifically for text content
%links-text {
  a {
    text-decoration: underline;

    &:hover {
      text-decoration: none;
    }
  }
}

// sets up (nested) lists specifically for text content
%lists-text {
  ol, ul {
    margin: 0 0 0.4rem 2rem;

    li {
      margin-top: 0.2rem;
      max-width: $paragraph-max-width - 2rem; // subtract left margin
    }

    &:last-child {
      margin-bottom: 0.2rem;
    }
  }

  ol {
    list-style-type: decimal;
  }

  ul {
    list-style-type: disc;
  }
}
